<% provide :page_name, "Browse Jobs" %>
<% provide :page_desc, "A list of available jobs" %>
<% provide :title, "Jobs" %>


<div class="row">
  <%= render :partial => 'shared/job', :collection => @jobs %>
</div>