<% provide :page_name, "My Job Applications" %>
<% provide :page_desc, "List of Jobs you have applied to" %>
<% provide :title, "Job Applications" %>

<div class="row">

  <div class="span3">
    <%= render 'shared/dashboard_nav' %>
  </div>

  

</div>